client/node_modules
.idea/
.DS_Store
data/
scraper/*.json
server/.scrapy/
server/**/static
__pycache__/
*.py[cod]
# Django:
*.log
*.pot

client/.pnp.*
client/build
client/.yarn/*
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/sdks
!client/.yarn/versions
!client/.yarn/cache
